/vendor
;/composer.lock
/doc/
/demo/demo.ini
/test/config/test.ini
/.php_cs.cache
/util/.phpunit.cache
/util/.phpunit.result.cache
/util/.phpunit.cache/test-results
/util/.phpunit.cache/
;/.idea
/composer.lock
