includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- phpstan-baseline.neon

parameters:
	level: 5
	paths:
		- src/PDO
	checkMissingIterableValueType: false
	treatPhpDocTypesAsCertain: false
	reportUnmatchedIgnoredErrors: false
