includes:
	- ../vendor/phpstan/phpstan-strict-rules/rules.neon
	- phpstan-baseline.neon

parameters:
	phpVersion: 80100
	level: max
	paths:
#		- ../src/DAO
		- ../src/OSQL
		- ../src/PDO
	treatPhpDocTypesAsCertain: false
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		-
			identifier: missingType.iterableValue